<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Añadir distribuidor</title>
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold mb-4">Nuevo estudiante</h1>
  <form th:action = "@{/addSeller}" th:method = "post" th:object = "${sellers}" class="d-flex flex-column gap-3 align-items-center">
    <input th:field = "*{name}" class="form-control" type="text" placeholder="Nombre del distribuidor">
    <input th:field = "*{numIdentity}" class="form-control" type="number" placeholder="Nùmero de identidad">
    <input th:field = "*{city}" class="form-control" type="text" placeholder="Ciudad">
    <input th:field = "*{address}" class="form-control" type="text" placeholder="Dirección">
    <input th:field = "*{phone}" class="form-control" type="text" placeholder="Celular">
    <input th:field = "*{email}" class="form-control" type="email" placeholder="Correo electrónico">
    <button class="btn btn-primary" type="submit">Añadir nuevo distribuidor</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>